

.logo {
    width: 71px;
    
    margin: auto; 
}
.textcolor1 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px; 
    color: white;
    text-shadow: 2px 2px 4px #000000;
   
}
.textcolor2 {
    text-align: left;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}


.container-fluid{
    background-color: orangered;
}
.body1 {
    padding: 0px;
background-color: white;
}
.footer {
    position: block;
   width: 100%;
   left: 0;
   bottom: 0;
   color: black;
   text-align: center;
   background-color:  white;
  }

